{
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxBracketSameLine": false,
  "printWidth": 140,
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx}",
      "options": {
        "parser": "babel"
      }
    }
  ]
}